:root {
    --background-color: #1D1D1D;
    --card-color: #2B2B2B;
    --top-banner-color: #333333;
}

body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-color);
}

.page .section {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 20px;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: white;
}

.page .section .card {
    border: 3px solid black;
    border-radius: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    min-height: 50px;
    background-color: var(--card-color);
    color: white;
}

.page .section .card > header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.page .section .card > textarea {
    width: 100%;
}

.page .section .card > button {
    margin-top: 12px;
    background-color: green;
    width: 120px;
    height: 30px;
}

.top-banner {
    position: relative;
    box-shadow: 0px 5px 5px #111111;
    height: 40px;
    z-index: 10;
    padding: 10px;
    background-color: var(--top-banner-color);
    color: white;
}

.footer {
    position: relative;
    box-shadow: 0px -2px 5px #111111;
    height: 60px;
    z-index: 10;
    padding: 10px;
    background-color: var(--top-banner-color);
    color: white;
}

.homebrew {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homebrew > div {
    flex-grow: 1;
}

.ability-score {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ability-score > div {
    flex-grow: 1;
}

.ability-card {
    border: 3px solid black;
    border-radius: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    background-color: var(--card-color);
}

.ability-card > header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}